.container_fix {
  width: 70vw !important;
}
.create_icon {
  font-size: 40px;
  color: #10ac84;
}
.create_icon:hover {
  cursor: pointer;
  color: #10ac85a3;
}
.card {
  width: 80%;
  min-height: 300px;
  word-break: break-all;
  border: 0px !important;
  background-color: #212529d9 !important;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* border-top-left-radius: 20px; */
}

.pin_icon {
  font-size: 25px;
  color: white;
}
.pin_icon_bg {
  font-size: 25px;
  background-color: black;
}
.pin_icon:hover {
  cursor: pointer;
  color: grey;
}
.pinned_icon {
  color: grey;
}
.icon {
  font-size: 20px;
}
.icon:hover {
  color: grey;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container_fix {
    width: 90vw !important;
  }
  .card {
    width: 100% !important;
  }
}
@media screen and (max-width: 572px) {
  .container_fix {
    width: 70vw !important;
  }
  .card {
    width: 80% !important;
    min-height: 200px;
  }
}
@media screen and (max-width: 440px) {
  .container_fix {
    width: 90vw !important;
  }
  .card {
    width: 95% !important;
  }
}
